.slideshow {
    margin: 0;
    padding: 0;
    position: relative;
}

.slideshow-control-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow-prev {
    position: relative;
    display: inline-block;
    left: 0;
}

.slideshow-next {
    position: relative;
    display: inline-block;
    left: 90%;
    transform: translateX(-50%);
}

.slideshow-center {
    position: relative;
    display: inline-block;
}
