/*
*   The controller theme settings for arrows etc.
*/

/* Outer wrapper for controls - start */
.slideshow-control-wrapper {
    display: flex;
    justify-content: space-between;
    opacity: 0.0;
    transition: all 0.3s;
}

.slideshow-control-wrapper:hover {
    opacity: 1.0;
}
/* Outer wrapper for controls - end

/* Next, previous and center buttons - start */
.slideshow-prev-wrapper, .slideshow-next-wrapper {
  height: 100%;
  width: 100px;
  display: flex;
  cursor: pointer;
}

.slideshow-prev-wrapper {
  background: linear-gradient(to right, rgba(7,7,7,0.75) 0%,rgba(72,72,72,0) 94%,rgba(76,76,76,0) 100%);
}

.slideshow-next-wrapper {
  background: linear-gradient(to left, rgba(7,7,7,0.75) 0%,rgba(72,72,72,0) 94%,rgba(76,76,76,0) 100%);
}

.slideshow-prev, .slideshow-next {
  align-self: center;
}

.slideshow-center-wrapper {
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

.slideshow-center {
  display: inline-block;
  width: 30px;
}
/* Next, previous and center buttons - end */
