/*
*   Main css file for Dequilla's simple slideshows.
*   Not to be edited, if you want to change the style use themes.
*/

.slideshow {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.slideshow-control-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    opacity: 0.0;
    transition: all 0.3s;
}

.slideshow-control-wrapper:hover {
    opacity: 1.0;
    transition: all 0.3s;
}

.slideshow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slideshow-prev-wrapper {
    height: 100%;
    width: 10%;

    position: relative;
    display: inline-block;
    left: 0;
    float: left;
    z-index: 100;

    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.slideshow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slideshow-next-wrapper {
    height: 100%;
    width: 10%;

    position: relative;
    display: inline-block;
    float: right;
    z-index: 100;

    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.slideshow-center {
    cursor: pointer;
    z-index: 100;

    position: relative;
    display: inline-block;
    width: 5%;
}

.slideshow-center-wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
}

/*
*   Inner element inside a slide
*/
.slideshow-inner-element {
    position: absolute;
    top: 0;
    left: 0;
}

/*
*   Transitions
*/

/* fade - start */
.slideshow-fadeout {
    transition-property: all;
    opacity: 0.0;
}

.slideshow-fadein {
    transition-property: all;
    opacity: 1.0;
}
/* fade - end */

/* Scroll - start */
.slideshow-scroll {
    transition: all 1.0s;
}
/* Scroll - end */
