/*
*   Main css file for Dequilla's simple slideshows.
*   Not to be edited, if you want to change the style use themes.
*/

.slideshow {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.slideshow-control-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  opacity: 0.0;
  transition: all 0.3s;
}

.slideshow-control-wrapper:hover {
  opacity: 1.0;
}

.slideshow-prev-wrapper, .slideshow-next-wrapper {
  height: 100%;
  width: 100px;
  display: flex;
  cursor: pointer;
}

.slideshow-prev-wrapper {
  background: linear-gradient(to right, rgba(7,7,7,0.75) 0%,rgba(72,72,72,0) 94%,rgba(76,76,76,0) 100%);
}

.slideshow-next-wrapper {
  background: linear-gradient(to left, rgba(7,7,7,0.75) 0%,rgba(72,72,72,0) 94%,rgba(76,76,76,0) 100%);
}

.slideshow-prev, .slideshow-next {
  align-self: center;
}

.slideshow-center-wrapper {
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

.slideshow-center {
  cursor: pointer;
  display: inline-block;
  width: 30px;
}

/* Inner element inside a slide */
.slideshow-inner-element {
  position: absolute;
  top: 0;
  left: 0;
}

/* Transitions */

/* fade - start */
.slideshow-fadeout {
  transition-property: all;
  opacity: 0.0;
}

.slideshow-fadein {
  transition-property: all;
  opacity: 1.0;
}
/* fade - end */

/* Scroll - start */
.slideshow-scroll {
  transition: all 1.0s;
}
/* Scroll - end */
