/*
*   Main css file for Dequilla's simple slideshows.
*   Not to be edited, if you want to change the style use themes.
*/

.slideshow {
  position: relative;
  overflow: hidden;
}

.slideshow-scroll {
  display: flex;
  white-space: nowrap;
}

.slide {
  position: relative;
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
}

.slideshow-prev-wrapper, .slideshow-next-wrapper {
  cursor: pointer;
  pointer-events: auto;
}

.slideshow-center {
  cursor: pointer;
  pointer-events: auto;
}

.slideshow-link {
  position: absolute;
}

/* Transitions */
/* fade - start */
.slideshow-fadeout {
  transition-property: all;
  opacity: 0.0;
}

.slideshow-fadein {
  transition-property: all;
  opacity: 1.0;
  z-index: 10;
}
/* fade - end */

/* Scroll - start */
.slideshow-scroll {
  transition-property: all;
}
/* Scroll - end */
