/*
*   Main css file for Dequilla's simple slideshows.
*   Not to be edited, if you want to change the style use themes.
*/

.slideshow {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.slideshow-control-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;

    pointer-events: none;
}

.slideshow-prev-wrapper, .slideshow-next-wrapper {
    cursor: pointer;
    pointer-events: auto;
}

.slideshow-center {
    cursor: pointer;
    pointer-events: auto;
}

/* Inner element inside a slide */
.slideshow-inner-element {
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow-link {
}
/* Transitions */

/* fade - start */
.slideshow-fadeout {
    transition-property: all;
    opacity: 0.0;
}

.slideshow-fadein {
    transition-property: all;
    opacity: 1.0;
    z-index: 10;
}
/* fade - end */

/* Scroll - start */
.slideshow-scroll {
    transition-property: all;
}
/* Scroll - end */
